/* WebFont loading via CSS*/

@font-face {
    font-family: 'danielregular';
    src: url('webfonts/daniel/daniel-webfont.eot');
    src: url('webfonts/daniel/daniel-webfont.eot?#iefix') format('embedded-opentype'), 
         url('webfonts/daniel/daniel-webfont.woff') format('woff'),  
         url('webfonts/daniel/daniel-webfont.ttf') format('truetype'), 
         url('webfonts/daniel/daniel-webfont.svg#danielregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('webfonts/roboto/Roboto-Regular-webfont.eot');
    src: url('webfonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
         url('webfonts/roboto/Roboto-Regular-webfont.woff') format('woff'), 
         url('webfonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'), 
         url('webfonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('webfonts/roboto_bold/Roboto-Bold-webfont.eot');
    src: url('webfonts/roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('webfonts/roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('webfonts/roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('webfonts/roboto_medium/Roboto-Medium-webfont.eot');
    src: url('webfonts/roboto_medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto_medium/Roboto-Medium-webfont.woff') format('woff'),
         url('webfonts/roboto_medium/Roboto-Medium-webfont.ttf') format('truetype'),
         url('webfonts/roboto_medium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}






/*Fisrt strip of the page or first div*/

.first {
    background-color: #219fd1;
    height: 67px;
    box-shadow: 10px 0px 10px #888888;
}

.moto {
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    color: rgba(255, 255, 255, 0.71);
    font-style: italic;
    line-height: 2.143;
    text-align: left;
    padding-top: 15px;
    margin: 0;
}
/*Top right delete button*/

button.btn.btn-link {/*
    float: right;
    height: 50px;
    position: relative;
    width: 50px;
    right: 70px;
    bottom: 54px;
    padding-top: 25px;*/
}

span {
    color: rgba(255, 255, 255, 0.71);
}
/*The new sigil*/

.stamp {
    /* float: left; */
    /* margin-left: 5%; */
    position: absolute;
    left: -90px;
}

.second {
    height: 60px;
    background-color: #f5f5f5;
}
/* Shop Icons CSS*/
div.shop-list ul li a i {
    color: #219fd1;
}
.shop-list .shop-icons li {
    height: 100%;
    display: inline;
    list-style: none;
    padding-right: 5px;
    padding-left:  5px;
    border-right: solid 2px #e5e5e5;
}
div.shop-list {
    width: 500 px;
    padding: 0;
}
.shop-list {
    margin: 2%;
    float: right;
}

ul.shop-icons {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 13px;
}
/* Align third div with the logo and options*/

.third .align-third {
    width: 89%;
    margin-left: 5%;
    padding-top: 25px;
}
/* Social Media Icons */

@font-face {
    font-family: 'si';
    src: url('socicon/socicon-1.3/socicon.eot');
    src: url('socicon/socicon-1.3/socicon.eot?#iefix') format('embedded-opentype'), 
         url('socicon/socicon-1.3/socicon.woff') format('woff'), 
         url('socicon/socicon-1.3/socicon.ttf') format('truetype'), 
         url('socicon/socicon-1.3/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: si;
        src: url(socicon/socicon-1.3/socicon.svg) format(svg);
    }
}

.soc {
    overflow: hidden;
    margin-left: 2px;
    padding: 0;
    padding-top: 15px;
    list-style: none;
}

.soc li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.soc li a {
    font-family: si!important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #ffffff;
    background-color: #cecece;
}

.soc-icon-last {
    margin: 0 !important;
}

.soc-facebook:before {
    content: 'b';
}

.soc-twitter:before {
    content: 'a';
}

.soc-google:before {
    content: 'c';
}

.soc-dribbble:before {
    content: 'D';
}

.soc-vimeo:before {
    content: 's';
}

.soc-skype:before {
    content: 'g';
}

.soc-linkedin:before {
    content: 'j';
}

.soc-pinterest:before {
    content: 'd';
}

.soc-rss:before {
    content: ',';
}

.hovblue:hover {
    transition: 2s ease;
    background-color: #219fd1;
}

.second .social-container {
    margin: 0;
    padding: 0;
    width: 300 px;
    display: inline-block;
}

.second .social-icons {
    width: 30%;
}

.second .shop-list {
    display: inline-block;
    margin: 0;
    /* margin-right: 30px; */
}
/* Navigation with maybe dropdown on the top of the page*/

.third {
    min-height: 100px;
    background-color: white;
}

#home {
    color: #219fd1;
}

li a {
    color: black;
}

ul p {
color: rgb(33, 159, 209);
    display: inline;
}
li a: hover{
    background: #219fd1;
}

/*Section from header with photo and dialog boxes*/

.fourth {
    height: 681 px;
    max-width: 100 %;
    border-width: 1px black;
}

.fourth img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Article styling*/
.articles {
    background-color: #f5f5f5;
    border-bottom: solid 1px #e5e5e5;
    border-top: solid 1px #e5e5e5;
}
.article-container {
    background: white;
    position: relative;
    padding: 50px 20px 20px 20px;
      border: 1px solid #e3e3e3;
    margin-top: 70px;
}
/*
div.articles img{
    margin-left: 1%;
    margin-bottom: 1%
}
*/
div.articles a{
    color: #219fd1;
}
div.articles h4{
    /*margin-top: 50px;*/
}
.border-grey{
    border: 1px solid #e3e3e3;
}
div.container-col{
    background: white;
}

.articles div {
    font-family: 'robotomedium', sans-serif;
    text-align: center;

}
div.wrap {
    border: 5px solid #219fd1;
    height: 400px;
    width: 400px;
    margin: 50px;
    border-radius: 50%;
}

div.inner {
    background: #219fd1;
    height: 380px;
    width: 380px;
    border-radius: 50%; 
    margin: auto;
    margin-top: 10px;
}
i.icono-caretRightCircle {
    color: #219fd1;
    height: 1px;
}
/*Circles style*/
div.circle-wrap {
    position: absolute;
    left: 50%;
    top: -45px;
    margin-left: -45px;
    /* bottom: 10.5em; */
    border: 5px solid #219fd1;
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    /* margin: auto; */
}

div.inner-circle {
    background: #219fd1;
    height: 5.5em;
    width: 5.5em;
    border-radius: 50%; 
    margin: auto;
    margin-top: 0.15em;
}
.alignicon{
    margin-top: 1.5em;
}
/*Fifth Div From navigation*/

.fifth p {
    text-align: center;
    font-family: 'robotoregular', sans-serif;
    font-size: 1.63em;
    padding-top: 20px;
}

.fifth .love .blue {
    color: #219fd1;
}

.fifth .left {
    font-family: 'robotobold', sans-serif;
}

.fifth .right {
    background-color: transparent;
    color: #219fd1;
    font-family: 'robotobold', sans-serif;
}

.fifth .right:hover {
    background-color: #219fd1;
    color: white;
}

.fifth .blue {
    color: #219fd1;
}

.fifth .buttons {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    /* height: 44px; */
    margin-bottom: 40px;
}

button.left {
    font-family: 'robotoregular', sans-serif;
    height: 44px;
    background-color: #219fd1;
    box-shadow: 0px 3px 0px #0883b3;
}

button.right {
    font-family: 'robotoregular', sans-serif;
    height: 44px;
}

.close-button {
      position: absolute;
      top: 15px;
      right: 15px;
}

.navbar-toggle .icon-bar {
    background-color: silver;
}

.navbar-toggle {
    border: 1px solid silver;
}
p.heading {
    font-family: 'robotoregular', sans-serif;
    text-align: center;
    font-size:26px;
    padding-top: 30px;
    padding-bottom: 10px;
}
p.text{
    font-family: "OpenSans", sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size:13px;
    padding-bottom: 25px;
    color: #c7c7c7;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 230px;
}
.work{
    background-color: #f1f1f1; 
}
.work p{
      margin: 40px 90px 20px;
      font-weight: bold;
}
.slide img{
    height:250px;
}
.undertext-slider span {
 color: black;
 margin-right:10px;
}

.undertext-slider {
    display: inline-block;
    width: 100%;
    padding: 10px;
}
.circle{
    display: inline-block;
    position:relative;
    background: #d3d2d2;;
    width:50px;
    height:50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.align-icons{
    margin: 10px;
}
div.section .circle:hover {
    background: #219fd1;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.circle-container {
      display: inline-block;
      border: 1px solid transparent;
      border-radius: 50%;
      padding: 2px;
}

.circle-container:hover {
      display: inline-block;
      border: 1px solid rgb(33, 159, 209);
      border-radius: 50%;
      padding: 2px;
}
.allign-upper-ul{
    position: absolute;
    bottom: 120px;
    left: 50px;
}
/*Allign the icons in the circle*/
.heart{
    margin-top: 14px;
}
.trophy{
    margin-left: 12px;
}
.thumb{
    margin-left: 13px;
}
.paper-plane{
    margin-top: 13px;
}

/* Styling the columns and icons-circles from div.section*/
div.section div.info-container ul.dash li:before{
    content: "\2014 \00a0";
    color: #4CAED5;
}
div.section div.info-container ul.dash li{
    color: #b5b5b5;
    font-size: 13px;
}
div.section{
    padding-bottom: 58px;
    padding-top: 51px;
}
.list-allign{
    position: relative;
    top: -20px;
    right: -30px;
    list-style: none;
}
.slider1 .bx-pager {
    background-color: #e1e1e1;
    padding-top: 0;
    height: 4px;
    position: absolute;
    top: -15px;
}
.slider1 .bx-pager .bx-pager-item a {
    width: 100%;
    background: transparent;
    border-radius: 0;
    position: relative;
    top: -3px;
}

.slider1 .bx-pager .bx-pager-item a:hover {
    background: #E7E1E1;
}

.slider1 .bx-pager .bx-pager-item a.active {
    background-color: #d3d2d2;
}
.x,.y{ background-color: #dadada;
  height: 25px;
  width: 20px;
  padding: 5px;
  margin: 2px;
  float: right;
  position: relative;
  top: -60px;
  right: 80px;  
}
div.promoter {
    height: 169px;
    background-image: url(../img/promoter.png);
    background-repeat: no-repeat;
    font-family: 'robotoregular';
}
div.promoter div.container{
    padding-top: 83px;
}
div.promoter p{
    display: inline-block;
    font-size: 25px;
    text-align: left;
    color: white;
    margin-right: 221px;
    margin-bottom: 0;
}
div.promoter a.button-style{
    height: 44px;
    width: 144px;
    background: transparent;
    color: #F2F2F2;
    border: 2px solid white;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}
div.our-features {
    height: 640px;
}
div.form-horizontal {
    color: silver;
}
.our-features a{
    color:#219fd1;
}

.nav.nav-tabs li:not(:last-child) a {
    border-right: 1px solid #219fd1;
}
.feather {
    background-image: url('img\feather.png') no-repeat top right;
    border-radius: 0;
}
.borderless-form {
    border-right: none;
    border-radius: 0;
}
.input-group-addon {
    background-color: white;
    border-radius: 0;
}
.daniel {
    font-family: 'danielregular';
    text-align: center;
    font-size: 19px;
    color: #219fd1;
    padding-top: 10px;
}
.form-container {
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bluebutton {
    font-family: 'robotobold' , sans-serif;
    background-color: #219fd1;
    box-shadow: 0px 3px 0px #0883b3;
    border: none;
    color: white;
}
.bluebutton:hover{
    background-color: #219fd1;
    color: white;
}
.remove-all {
    display: inline-block;
    margin-left: 2px;
    padding-bottom: 2px;
}
.clearall {
    color: #219fd1;
    margin-top: 5px;
    margin-left: 64px;
    display: inline-block;
}
