/* WebFont loading via CSS*/
@font-face {
    font-family: 'danielregular';
    src: url('webfonts/daniel/daniel-webfont.eot');
    src: url('webfonts/daniel/daniel-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/daniel/daniel-webfont.woff') format('woff'),
         url('webfonts/daniel/daniel-webfont.ttf') format('truetype'),
         url('webfonts/daniel/daniel-webfont.svg#danielregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('webfonts/roboto/Roboto-Regular-webfont.eot');
    src: url('webfonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('webfonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('webfonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Fisrt strip of the page or first div*/
.first {
    background-color: #219fd1; 
    height: 67px;
    max-width: 100%;
}
.moto {
    font-size: 14px;
    font-family: "OpenSans";
    color: rgba(255, 255, 255, 0.71);
    font-style: italic;
    line-height: 2.143;
    text-align: left;
    padding-top: 1%;
    width:60%;
    margin: 0;
    
}
/*Top right delete button*/
button.btn.btn-link {
    float: right;
    height:50px;
    position:relative;
    width:50px;
    right: 70px;
    bottom: 54px;
    padding-top: 25px;
}
span{
     color: rgba(255, 255, 255, 0.71);
}


/*The new sigil*/
.stamp{
    float: left;
    margin-left:5%;
}
.second {
    height: 53px;
    background-color: #f5f5f5;
}

/* Shop Icons CSS*/
.shop-list .shop-icons li{
    height: 100%;
    display: inline;
    list-style: none;
    padding-right: 5px;
    border-right: solid 2px #e5e5e5;
}
div .shop-list{
    width: 500 px;
    padding: 0;
}
.shop-list {
    margin:2%;
    float: right;
}
ul.shop-icons {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Align third div with the logo and options*/
.third .align-third {
    width: 89%;
    margin-left: 5%;
    padding-top: 55px;
}

/* Social Media Icons */

@font-face {
    font-family: 'si';
    src: url('socicon/socicon-1.3/socicon.eot');
    src: url('socicon/socicon-1.3/socicon.eot?#iefix') format('embedded-opentype'),
         url('socicon/socicon-1.3/socicon.woff') format('woff'),
         url('socicon/socicon-1.3/socicon.ttf') format('truetype'),
         url('socicon/socicon-1.3/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(socicon/socicon-1.3/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    padding-top: 13px;
    padding-left: 20px;
    list-style:none;
    width: 400px;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #cecece;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook:before {
    content:'b';
}
.soc-twitter:before {
    content:'a';
}
.soc-google:before {
    content:'c';
}
.soc-dribbble:before {
    content:'D';
}
.soc-vimeo:before {
    content:'s';
}
.soc-skype:before {
    content:'g';
}
.soc-linkedin:before {
    content:'j';
}
.soc-pinterest:before {
    content:'d';
}
.soc-rss:before {
    content:',';
}
.hovblue:hover{
    transition: 2s ease;
    background-color: #219fd1;
}

.second .social-container{
    margin: 0;
    padding: 0;
    width: 300 px;
    display: inline-block;

    
}
.second .social-icons{
    width: 30%;
}
.second .shop-list{
    display: inline-block;
    width: 15%;
    margin: 0;
}

/* Navigation with maybe dropdown on the top of the page*/
.third {
     height: 157px;
     background-color: white;
}
#home{
    color: blue;
}
 li a {
    color: black;
}
ul p{
    color: blue;
    display: inline;
}

/*Section from header with photo and dialog boxes*/
.fourth {
    height: 681 px;
    background-image: url(/img/mare-bg.png);
    max-width: 100 %;
    border-width: 1px black;
}
.fourth img {
        display: block;
    margin-left: auto;
    margin-right: auto;
}
.fourth div{
    height: 50px;
    width: 350px;
} 
.left_top{
 position: absolute;
    left: 140px;
    top: 400px;
    z-index: 1;
}
.left_bottom{
 position: absolute;
    left: 180px;
    top: 550px;
    z-index: 1;
}
.right_top{
 position: absolute;
    right: 100px;
    top: 400px;
    z-index: 1;
}
.right_bottom{
 position: absolute;
    right: 150px;
    top: 550px;
    z-index: 1;
}

/*Article styling*/
.articles {
    background-color: #D5CECE;
      text-align: center;
     position:relative;
     margin-left:10%;
     margin-top:10%;
}   
.articles div{
    text-align: center;
    background-color: white;
}


/*Fifth Div From navigation*/
.fifth p {
    text-align: center;
    font-family: 'robotoregular', sans-serif;
    font-size: 26px;
    padding-top: 20px;
}
.fifth .love .blue{
    color: #219fd1;
}
.fifth .left {
    margin-left: 35%;
}
.fifth .right {
    background-color: transparent;
    color:  #219fd1;
}
.fifth .right:hover {
    background-color: #219fd1;
    color:  white;
}

.fifth .blue{
    color: #219fd1;
}

.fifth .buttons {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 44px;
}
button .left {
    margin-left: 50%;
    height: 44px;
    width: 50%;
}
button .right {
    margin-right: 45%;
    height: 44px;
    width: 50%;
}


